/****************************************************************************************
Copyright 2002 to 2015, OneAmerica®, all rights reserved

AUTHOR Ben Rondot

DATE		NAME		DESCRIPTON
04/15/2015	Ben Rondot	Initial Creation
12/17/2015  Ben Rondot  Updated Ace template to from v1.3.3 to v1.3.5

OneSource Online (OSO) unique and overwrite styling will be housed in this file (oso-style.less). 

****************************************************************************************/

/****************************

	Variables

****************************/

/* Begin OneAmerica colors */

@oa-banner-red: #af1732;
@oa-banner-blue: #023d69;

/* Warm colors */

@oa-bark: #755426;
@oa-garnet: #913338;
@oa-sunset: #e23d28;
@oa-pumpkin: #e58127;
@oa-sun: #f4b531;
@oa-wheat: #FFFFCC;

/* Cool colors */

@oa-canvas: #f3ede0;
@oa-stone: #c4b796;
@oa-cactus: #B8D095;
@oa-forest:#006347;
@oa-grass: #557a28;
@oa-slate: #59798f;
@oa-lake: #6693bc;
@oa-sky: #add8f4;

/* Gray scale */

@gray-05: #F2F2F2;
@gray-10: #E5E5E5;
@gray-15: #D9D9D9;
@gray-20: #cccccc;
@gray-30: #B3B3B3;
@gray-40: #999999;
@gray-50: #7F7F7F;
@gray-60: #666666;
@gray-70: #4D4D4D;
@gray-80: #333333;
@gray-90: #1A1A1A;

@screen-topbar-down: 768px; /* The point the .navbar breaks to 2 lines. */

/****************************

	Utilities

****************************/


/* Begin OneAmerica colors */

.oa-banner-red {
    color: @oa-banner-red !important;
}
.oa-banner-blue {
    color: @oa-banner-blue !important;
}

/* Warm colors */

.oa-bark {
    color: @oa-bark !important;
}
.oa-garnet {
    color: @oa-garnet !important;
}
.oa-sunset {
    color: @oa-sunset !important;
}
.oa-pumpkin {
    color: @oa-pumpkin !important;
}
.oa-sun {
    color: @oa-sun !important;
}
.oa-wheat {
    color: @oa-wheat !important;
}

/* Cool colors */

.oa-canvas {
    color: @oa-canvas !important;
}
.oa-stone {
    color: @oa-stone !important;
}
.oa-cactus {
    color: @oa-cactus !important;
}
.oa-forest {
    color: @oa-forest !important;
}
.oa-grass {
    color: @oa-grass !important;
}
.oa-slate {
    color: @oa-slate !important;
}
.oa-lake {
    color: @oa-lake !important;
}
.oa-sky {
    color: @oa-sky !important;
}

/* Gray scale */

.gray-05 {
    color: @gray-05 !important;
}
.gray-10 {
    color: @gray-10 !important;
}
.gray-15 {
    color: @gray-15 !important;
}
.gray-20 {
    color: @gray-20 !important;
}
.gray-30 {
    color: @gray-30 !important;
}
.gray-40 {
    color: @gray-40 !important;
}
.gray-50 {
    color: @gray-50 !important;
}
.gray-60 {
    color: @gray-60 !important;
}
.gray-70 {
    color: @gray-70 !important;
}
.gray-80 {
    color: @gray-80 !important;
}
.gray-90 {
    color: @gray-90 !important;
}

/* Available Button colors */

/*.btn = default gray */
/*.btn-info = blue similar to OA lake */ 
/*.btn-info2 = light blue similar to OA sky */
/*.btn-success = green */
/*.btn-primary = blue */
/*.btn-warning = yellow orange */ 
/*.btn-danger = red */
/*.btn-inverse = dark gray */
/*.btn-pink = pink */
/*.btn-purple = purple */
/*.btn-grey = gray */

/* Available label colors */

/* .label-default = gray */
/* .label-primary = blue */
/* .label-success = green */
/* .label-info = blue */
/* .label-warning = yellow orange */
/* .label-important = red */
/* .label-danger = red same as important */
/* .label-inverse = dark gray #333 */
/* .label-pink = pink */
/* .label-purple = purple */
/* .label-yellow = yellow */
/* .label-light = light gray */
/* .label-grey = gray */

/* Margin helper classes */

.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-50 {
    margin-top: 50px !important;
}

/* hand pointer */

.pointer { 
    cursor: pointer;     
}

/****************************

	General styles

****************************/

body {
    font-size: 14px;
    color: @gray-80;
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    /*font-weight: lighter;*/
    color: @oa-banner-blue;
    color: @gray-50;
}

h1 {
    color: @oa-lake;
}

h6 {
    font-weight: bold;
}

.header {
    border-bottom: 1px dotted #e2e2e2;
}

.page-header {
	h1 {
	  font-size: 32px;
      color: @oa-lake;
	}//h1
}

/* Alerts messages */

.alert {
    position: relative;
    min-height: 40px;
        .alert-icon {
            position: absolute;
            width: 75px;
            height: 100%;
            top: 0px;
            left: 0px;
                i {
                    position: absolute;
                    display: inline;
                    vertical-align: middle;
                    top: 50%;
                    left: 50%;
                    color: #fff;
                    text-shadow: 0px -1px 0px @gray-20;
                    font-size: 42px;
                } /* / i */
        } /* .alert-icon */
        p {
            margin-left: 80px;
        } /* p */
} /* .alert */

.alert-warning { /* yellow alert */
    .alert-icon {
        background: -webkit-linear-gradient(left top, #cc7702, #fea72f); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #cc7702, #fea72f); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #cc7702, #fea72f); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, #cc7702, #fea72f); /* Standard syntax */
            i {
                margin-top: -20px;
                margin-left: -20px;
            } /* / i */
    } /* / .alert-icon */
} /* / .alert-warning */

.alert-info { /* blue alert */
    .alert-icon {
        background: -webkit-linear-gradient(left top, #62ADDE, #4899CE); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #62ADDE, #4899CE); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #62ADDE, #4899CE); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, #62ADDE, #4899CE); /* Standard syntax */
            i {
                margin-top: -20px;
                margin-left: -7px;
            } /* / i */
    } /* / .alert-icon */
} /* / .alert-info */

.alert-success { /* green alert */
    .alert-icon {
        background: -webkit-linear-gradient(left top, #7aa84c, #8ebf60); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #7aa84c, #8ebf60); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #7aa84c, #8ebf60); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, #7aa84c, #8ebf60); /* Standard syntax */
            i {
                margin-top: -22px;
                margin-left: -20px;
            } /* / i */
    } /* / .alert-icon */
} /* / .alert-success */

.alert-danger { /* red alert */
    .alert-icon {
        background: -webkit-linear-gradient(left top, #903136, #a05055); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #903136, #a05055); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #903136, #a05055); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, #903136, #a05055); /* Standard syntax */
            i {
                margin-top: -23px;
                margin-left: -16px;
            } /* / i */
    } /* / .alert-icon */
} /* / .alert-danger */

/* Tables */

/* The border of the table header was the same color as the background */
.table > thead > tr > th:last-child {
     border-right-color: #ddd; 
}

/* Sortable tables. This tables are sortable by the column heads <th>'s */

.dataTables_wrapper {
    .row {
        &:first-child { /* dataTable top */
            border-top: 1px solid #e0e0e0;
            padding-bottom: 0;
        } /* /&:first-child */
        &:nth-child(2) { /* dataTable top */
            background-color: #EFF3F8;
            padding-top: 12px;
            padding-bottom: 12px;
        } /* /&:nth-child(2) */
        &:nth-last-child(3) { /* table scroll message. Appears on smaller devices */
            display: none;
                @media (max-width: 767px) {
                    display: block;
                    margin-bottom: 0px;
                    background-color: #EFF3F8;
                        p {
                            margin: 0;
                        } /* / p */
                } /* @media (max-width: 767px) */
        } /* /&:nth-last-child(3) */
        &:nth-last-child(2) { /* dataTable footer */
            padding-top: 12px;
            padding-bottom: 0;
            background-color: #EFF3F8;
        } /* /&:nth-last-child(2) */
       &:last-child { /* dataTable footer */
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #EFF3F8;
        } /* /&:nth-last-child */
            .dataTables_length { /* Display records */
                text-align: right;
                @media (max-width: @screen-md-min) {
                        text-align: left;
                        margin-top: 10px;
                } /* @media (max-width: @screen-md-min) */
                    .form-control {
                        display: inline;
                    }      
            } /* /.dataTables_length */
            .dataTables_paginate { /* Pagination */
                text-align: left;
                    ul.pagination {
                        margin: 0;     
                    } /* ul.pagination */
            } /* .dataTables_paginate */
    }
    /* row */
    
    .table-responsive { 
        @media (max-width: @screen-sm-min) {
            margin-bottom: 0px;
        } /* @media (max-width: @screen-sm-min) */
        .table-sortable  { /* Attached to a <table> with sortable columns */
            margin-bottom: 0;
                th {
                    cursor: pointer;
                        &:hover {
                            color: #307ccc;    
                        }
                } /* th */
                th.sorting {
                    &:after {
                        float: right;
                        display: inline;
                        content: "\f0dc"; /* fa-sort */
                        font-family: FontAwesome;
                    }
                }  /* th.sorting */
                th.sorting_dsc {
                    color: #307ccc;
                    background: -webkit-linear-gradient(left top, #eff3f8, #e3e7ed); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(to bottom right, #eff3f8, #e3e7ed); /* Standard syntax */
                        &:after {
                            float: right;
                            display: inline;
                            content: "\f0dd"; /* fa-sort-desc */
                            font-family: FontAwesome;
                        } /* /&:after */
                } /* th.sorting_dsc */
                th.sorting_asc {
                    color: #307ccc;
                    background: -webkit-linear-gradient(left top, #eff3f8, #e3e7ed); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(bottom right, #eff3f8, #e3e7ed); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(to bottom right, #eff3f8, #e3e7ed); /* Standard syntax */
                        &:after {
                            float: right;
                            display: inline;
                            content: "\f0de"; /* fa-sort-asc */
                            font-family: FontAwesome;
                        } /* /&:after */
                } /* th.sorting_asc */
        } /* .table-sortable */
        
        
    } /* .table-responsive */
} /* .dataTables_wrapper */

/* End Tables */

a {
    color: @oa-banner-blue;
    text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: @oa-banner-blue;
        }
} //a

/* Tooltip */

.tooltip-inner  {
	background-color: @oa-grass;
    text-align: left;
}

.tooltip.top .tooltip-arrow {
    border-top-color: @oa-grass;
    -moz-border-top-colors: @oa-grass;
}
.tooltip.right .tooltip-arrow {
    border-right-color: @oa-grass;
    -moz-border-right-colors: @oa-grass;
}
.tooltip.left .tooltip-arrow {
    border-left-color: @oa-grass;
    -moz-border-left-colors: @oa-grass;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: @oa-grass;
    -moz-border-bottom-colors: @oa-grass;
}

/* Popover */

.popover {
    background-color: @oa-grass;
    color: #fff;
}

/*.arrow {
    border-color: @oa-grass;
}*/

.popover.top > .arrow:after {
    border-top-color: @oa-grass!important;
    -moz-border-top-colors: @oa-grass!important;
}

.popover.bottom > .arrow:after {
    border-bottom-color: @oa-grass!important;
    -moz-border-bottom-colors: @oa-grass!important;
}

.popover.left > .arrow:after {
    border-left-color: @oa-grass!important;
    -moz-border-left-colors: @oa-grass!important;
}

.popover.right > .arrow:after {
    border-right-color: @oa-grass!important;
    -moz-border-right-colors: @oa-grass!important;
}

/* Information buttons */

.fa.fa-info-circle {
    font-size: 18px;
    margin: 9px 0 0 5px;
}

/****************************

	Utility navigaton (#navbar, .navbar)

****************************/

.navbar {
    .navbar-header { 
        /* the notifications and new message buttons. */
        .ace-nav {
         > li {
            > a {
                background-color: @oa-banner-blue; /* Utility nav buttons */
                text-decoration: none;
            } /* a */
            > .dropdown-menu { /* The ".dropdown-menu" was a modal when the screen height is 540px or shorter. This was commented in the file: "user-buttons.less". The ".dropdown-menu" remains a dropdown at any screen size. */
                li {
                    a {
                        white-space: normal; /* Allows the links to break to the next line as needed */
                        text-decoration: none;
                        padding-top: 6px;
                        padding-bottom: 6px;
                    @media (max-width: 568px) { /* Increase the size of the botton on screens 480px and smaller */
                        padding-top: 10px;
                        padding-bottom: 10px;
                    } /* @media (max-width: @screen-xs) */
                    } /* a */
                } /* li */
                li.dropdown-header { 
                  font-size: 14px;
                  margin: -4px 0 0 0;
                  padding: 6px 11px;
                  background: #f1f5f9!important;
                  border-bottom: 1px solid #e5e5e5;
                  color: @gray-80;
                } /* .dropdown-header*/
              } /* .dropdown-menu */
         } /* li */
         > li.ace-nav-welcome {
            > a {
                background-color: @oa-lake; /* Logged-in user welcome message background color */
                &:hover {
                  background-color: @oa-lake;  
                } /* &:hover */
                &:active {
                  background-color: @oa-lake;  
                } /* &:active */
                &:focus {
                  background-color: @oa-lake;  
                } /* &:focus */
            } /* a */
            > .dropdown-menu {
                width: 200px;
              } /* .dropdown-menu */
         } /* li.ace-nav-welcome */
        } /*.ace-nav */
        .navbar-brand {
            text-decoration: none;
                img { /* OneAmerica word mark logo */
                    height: 16px;
                    width: 137px; /* width is needed for IE */
                    margin: 0 15px 5px 0;
                    } /* img */
                /* Small devices (480px and smaller, landscape view on iPhone 3 and 4). */
                @media (max-width: @screen-xs) {
                    img { /* OneAmerica word mark logo */
                        height: 13px;
                        width: 111px; /* width is needed for IE */
                        margin: 0 5px 5px 0;
                    } /* img */
                } /* @media (max-width: @screen-xs) */
        } /* .navbar-brand */
        /* Small devices (480px and smaller, landscape view on iPhone 3 and 4). */
        @media (max-width: @screen-xs) {
          .navbar-brand {
             font-size: 16px/*@font-size-brand-xs*/; /* 16px */
          } /* .navbar-brand */

        } /* @media (max-width: @screen-xs) */
        
        
        
        /* .navbar .navbar-toggle "hamburger" */
        .navbar-toggle {
            background-color: @oa-lake;
                &:focus {
                    background-color: @oa-lake;
                    border-color: transparent;
                } /* &.focus */
                &:hover {
                    background-color: darken(@oa-lake , 5%);
                    border-color: rgba(255,255,255,0.1);
                } /* &.hover */
                &.display, &[data-toggle=collapse]:not(.collapsed) {
                    background-color: darken(@oa-lake , 10%);
                    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
                    border-color: rgba(255, 255, 255, 0.35);
                } /* &.display */
        } /* .navbar-toggle */
    } /* .navbar-header */
} /* .navbar */

@media (min-width: 769px) and (max-width: 540px), (max-width: 360px) {
  .navbar:not(.navbar-collapse) .navbar-buttons .user-info {
    display: none !important;
  }
  li.open .user-info {
    display: none !important;
  }
  .navbar:not(.navbar-collapse) .navbar-buttons .user-menu {
    padding-top: 5px !important;
  }
}

/****************************

	Primary navigation

****************************/

.nav-list {
    > li { /* first level */
        > a { /* first level */
            font-size: 13px;
        }
        .submenu { /* 2nd and all subsequent sub levels */
            > li { /* 2nd and all subsequent sub levels */
                > a { /* 2nd all subsequent sub levels */
                    font-size: 13px;
                    text-decoration: none;
                    padding-right: 25px;
                } /* a */
                .submenu { /* 3rd sub levels */
                    > li { /* 3rd sub levels */
                        > a { /* 3rd sub levels */
                            &:hover {
                                > i.gray-20 {
                                    color: #4b88b7!important;
                                }
                            } /* &:hover */
                        } /* a */
                    } /* li */
                } /* .submenu (3rd level) */
            } /* li */
        } /* .submenu (2nd and all subsequent levels) */     
    } /* li */
} /* .nav-list */

/****************************

	Performance Center 

****************************/

.well-gray { /* .well-gray is used as the first row of the performance center */
    box-shadow: none;
    border: none;
    background-color: @gray-05;
    position: relative;
        h4 {
            color: #393939;
            line-height: 21px;
        }
        p {
            font-size: 16px;
            line-height: 21px;
        }
}

@media (min-width: @screen-sm) and (max-width: 1199px) {
/* Devices 768px through 1199px. This allows the H4's within the ".well-gray" to be the same height when one of them takes 2 lines. */
    .well-gray {
            h4 {
                height: 65px;
            }
    }

}

.well-gray-footer {
    width: 100%;
    padding: 0 19px;
    background-color: @gray-15;
    position: absolute;
    left: 0px;
    bottom: 0;
    line-height: 26px;
}

/* Highlighted numbers in Performance Center */
.well-gray-highlight {
    margin: 10px 0 30px 0;
    font-size: 42px;
    line-height: 36px;
}

/* performance center circlular graphs/charts */

.well-naked { /* Container of Performance Center graphs */
    position: relative;
    box-shadow: none;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
        ul { /* bulleted list expaining graph */
            li {
                list-style: none;
                    i { 
                        color: #d9d9d9;
                        margin: 2px 4px 0 0;
                    }
                    .fa-info-circle {
                        font-size: 18px;
                        cursor:pointer;
                    }
                 .fa-ul-more-info {
                    margin: 10px 0 0 0;    
                 }
            } /* li */
        } /* ul */
        .performance-center-graph { /* performance center dial wrapper */
             position: relative;
             width: 216px; 
             height: 209px;
             margin: 0px auto 0 auto; 
             padding: 10px 0 0 0;
                 .tick-overlay { /* covers the "tick marks" at the bottom of the dial  */
                    position: absolute; 
                    z-index: 10; 
                    top: 187px; 
                    left: 58px; 
                    background: transparent url('../images/tick-overlay.png') top left no-repeat; 
                    width: 111px; 
                    height: 23px;
                 }   
                .overlay50 { 
                    position: absolute; 
                    width: 20px; 
                    height: 20px; 
                    z-index: 50; 
                    top: 64px; 
                    left: 3px; 
                    opacity: 0; 
                    cursor:pointer;
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay50:after { 
                    content: "50"; 
                    color: @oa-lake; 
                 }
                 .highlight.overlay50:after { 
                    color: @oa-pumpkin; 
                    font-weight:bold;
                 }
                .overlay60 { 
                    position: absolute; 
                    width: 20px; 
                    height: 20px; 
                    z-index: 50; 
                    top: 42px; 
                    left: 14px; 
                    opacity: 0; 
                    cursor:pointer;
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay60:after { 
                    content: "60"; 
                    color: @oa-lake; 
                 }
                 .highlight.overlay60:after { 
                    color: @oa-pumpkin; 
                    font-weight:bold;
                 }
                .overlay75 { 
                    position: absolute; 
                    width: 20px; 
                    height: 20px; 
                    z-index: 50; 
                    top: 15px; 
                    left: 42px; 
                    cursor:pointer;
                    font-size: 14px; opacity: 0; filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay75:after { 
                    content: "75"; 
                    color: @oa-lake; 
                 }
                 .highlight.overlay75:after { 
                    color: @oa-pumpkin; 
                    font-weight:bold;
                 }
                .overlay100 { 
                    position: absolute; 
                    width: 20px; 
                    height: 20px; 
                    z-index: 50; 
                    top: 1px; 
                    left: 95px; 
                    opacity: 0; 
                    cursor:pointer;
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay100:after { 
                    content: "100"; 
                    color: @oa-lake; 
                 }
                 .highlight.overlay100:after { 
                    color: @oa-pumpkin; 
                    font-weight:bold;
                 }
                .overlay150 { 
                    position: absolute; 
                    width: 20px; 
                    height: 20px; 
                    z-index: 50; 
                    top: 65px; 
                    left:196px; 
                    font-size: 14px; 
                    opacity: 0; 
                    cursor:pointer;
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay150:after { 
                    content: "150"; 
                    color: @oa-lake; 
                }
                .highlight.overlay150:after { 
                    color: @oa-pumpkin; 
                    font-weight:bold;
                 }
                .overlay200 { 
                    position: absolute; 
                    width: 20px; 
                    height: 20px; 
                    z-index: 50; 
                    top: 177px; 
                    left: 180px; 
                    font-size: 14px; 
                    opacity: 0; 
                    cursor:pointer;
                    filter: alpha(opacity=0); /* For IE8 and earlier */
                 }
                .overlay200:after { 
                    content: "200"; 
                    color: @oa-lake; 
                 }
                 .highlight.overlay200:after { 
                    color: @oa-pumpkin; 
                    font-weight:bold;
                 }
                .chart { 
                    position: relative;
                    margin: 0 auto;
                    text-align: center;
                    color: @oa-sky;
                    line-height: inherit !important;
                        canvas {
                            position: absolute;
                            top: 10px;
                            left: 0;
                        } /* canvas */
                        
                        /* Begin life lives graph */
                        .chart-text-big {
                            padding: 65px 0 0 0;
                            font-size: 65px;
                            line-height: 45px !important;
                            color: @oa-lake;
                                &:after {
                                    content: ''; 
                                    margin-left: 0.1em;
                                    font-size: .8em;
                                } /* &:after */
                        } /* .life-lives-percent */
                        .chart-text-label {
                            font-size: 16px;
                            line-height: 16px !important;
                            color: @oa-lake;
                            margin: 5px 0 0 0;
                        } /* .life-lives-goal */
                        /* End life lives graph */
                        
                        /* Begin APR graph */
                        .chart-text-one {
                            padding: 75px 0 0 0;
                            font-size: 32px;
                            line-height: 32px !important;
                            color: @oa-lake;
                                &:after {
                                    content: ''; 
                                    margin-left: 0.1em;
                                    font-size: .8em;
                                } /* &:after */
                        } /* .chart-text-one */
                        
                        .chart-text-two {
                            font-size: 16px;
                            line-height: 16px !important;
                            color: @oa-lake;
                        } /* .chart-text-two */
                        
                        /* End APR graph */
                    } /* .chart */  
                .chart-double { 
                    position: relative; 
                    display: block; 
                    margin: 10px auto 0 auto;
                        .chart-double-text-one {
                            position: relative; 
                            width: 100px;
                            top: 85px;
                            line-height: 0; 
                            margin: 0 auto;
                            font-size: 19px; 
                            color: #2689CB; 
                            text-align:center;
                        } /* .dollar-fixed */
                        .chart-double-text-two {
                            position: relative;
                            width: 100px;
                            top: 105px;
                            line-height: 0;
                            margin: 0 auto;  
                            font-size: 19px; 
                            color: #bed9f4; 
                            text-align:center;
                            text-shadow: 0 1px 0px @gray-15;
                        } /* .lives-fixed */
                        .fa-li {
                            top: 60px;
                            left: 20px;
                            font-size: 70px;
                            color: @oa-forest;
                        } /* .fa-li (check mark) */           
                } /* .chart-double */            
                .chart-double-inner { 
                    position: absolute; 
                    display: block; 
                    left: 41px; 
                    top: 48px;
                }           
        } /* performance-center-graph */
        
        .header-wrapper {
            position: relative;
            height: 45px;
                /* Add top margin to .well-naked (1200px and down) */
                @media (max-width: 1200px) {
                    margin-top: 10px;
                }
                /* Add top margin to .well-naked on small phones. Looks better if a header drops to a second line (320px and down) */
                @media (max-width: 320px) {
                    margin-top: 20px;
                }
                h4 { 
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    border-bottom: 1px solid #ccc;  
                    padding-bottom: 4px; 
                    margin-bottom: 5px;
                    font-weight: normal;
                        .fa {
                            display: inline;
                        }
                } /* h4 */
        }
    .tab-content {
        border: none;
        padding: 0;
             .nav-tabs {
                position: absolute;
                top: 215px;
                left: 52%;
                margin-left: -100px; /* half the width of the toggle buttons */
                right: 0;
                width: 200px;
                height: 43px;
                border: none;
                    li > a { /* non-active toggle button */
                        z-index: 2;
                        margin-right: 2px;
                        text-decoration: none;
                        border-color: @oa-lake;
                        color: @oa-lake;
                        &:hover {
                            background: fade(@oa-sky, 20%);    
                        } /* &:hover */
                        &:active {
                            margin-top: 1px;
                        } /* &:active */ 
                    } /* li > a */
                    li.active > a { /* active toggle button */
                        z-index: 1;
                        margin-top: 0;
                        border-top: 1px solid @oa-lake;
                        background: fade(@oa-sky, 30%);
                        -webkit-box-shadow: 0px 0px 7px 0px @oa-sky;
                        -moz-box-shadow: 0px 0px 7px 0px @oa-sky;
                        box-shadow: 0px 0px 7px 0px @oa-lake;
                    } /* li.active > a */
            } /* .nav-tabs */
    } /* .tab-content */
}  /* .well-naked */

/****************************

	Tout (.widget-box) styles

****************************/

.widget-box-tout { /* Works with ".widget-box" */
    ul {
        list-style: none;
        margin: 0;
        li {
            margin: 5px 0 0 0;
        }
    }
}

/****************************

	Footer

****************************/

.footer {
  padding-top: 0;
  .footer-inner {
    text-align: left;
        .footer-content {
             position: relative;
             min-height: 120px; /* 120px accounts for the size of the img (8
             0px) and 20px of padding top and bottom */
             line-height: 18px;
             padding: 20px;
                .row {    
                    img {
                        height: 80px;
                        width: 80px; /* width is needed for IE */
                    } /* img */      
                } /* row */
             
             @media (min-width: @screen-md-min) {  /* 992px and up */ 
                .row {    
                    .col-md-7 p {
                        margin-right: 100px;
                        text-align: right;
                    } /* .col-md-7 p */
                        p {
                            margin: 0 0 5px 0;
                        } /* p */
                        img {
                            position:absolute;
                            right: 10px;
                            top: 0;
                        } /* img */
                } /* row */
             } /* @media */   
        } /* footer-content */
  } /* .footer-inner */ 
} /* .footer */