@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}



.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
    text-align: center;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 25px 0px 10px;
    min-height:210px;
    /*border: 1px solid #e5e5e5;
    border-radius: 6px;*/
    margin: 15px 0;
}

.all-icons .font-icon-app-detail{
    text-align: center;
    min-height:120px;
    margin: 15px 0;
}


.all-icons .font-icon-detail1{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    min-height:260px;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .fonticondetail2{
    text-align: center;
    min-height:210px;
    padding: 25px 0px 10px;
    background-color: rgba(221, 246, 247, 0.75);
    /*border: 1px solid #e5e5e5;
    border-radius: 6px;*/
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
